@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --primary-font: "Inter", sans-serif;
    --secondary-font: "Dancing Script", cursive;
}

.display-flex {
    display: flex;
}

body {
    background-color: black;
    color: white;
    font-family: var(--primary-font);
}

.banner-container {
    width: 1500px;
    height: 715px;
    background: linear-gradient(180.00deg, rgb(17, 17, 17), rgba(119, 119, 119, 0) 100%);
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 57px 174px;
}

.brand {
    color: rgb(230, 83, 60);
    font-size: 36px;
    font-weight: 800;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
    font-style: italic;
}

#home {
    width: 102px;
    height: 38px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 20px 8px 20px;
    background: rgb(230, 83, 60);
    border-radius: 46px;
    box-sizing: border-box;
}

#others {
    display: flex;
    gap: 57px;
}

.nav-links {
    width: 465px;
    height: 46px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 55px;
    padding: 4px;
    margin: 0px 10px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    box-sizing: border-box;
}

/* Banner Style */
#shape {
    color: rgb(255, 255, 255);
    font-family: var(--secondary-font);
    font-size: 78px;
    font-weight: 300;
    text-align: left;
    margin: 0px;
}

.banner-text-container {
    width: 520px;
    height: 439px;
    margin-left: 174px;
}

.banner-heading {
    color: rgb(255, 255, 255);
    font-family: var(--primary-font);
    font-size: 78px;
    font-weight: 900;
    line-height: 1.2;
    text-align: left;
    margin: 0px;
}

.banner-description {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: left;
    margin-top: 24px;
}

.btn-container {
    margin-top: 28px;
}

.btn-primary {
    width: 224px;
    height: 54px;
    justify-content: center;
    align-items: flex-start;
    padding: 16px 40px 16px 40px;
    border-radius: 42px;
    background: rgb(230, 83, 60);
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    border: none;
}

.btn-secondary {
    width: 224px;
    height: 54px;
    justify-content: center;
    align-items: flex-start;
    padding: 16px 40px 16px 40px;
    margin: 0px 14px;
    color: rgb(255, 255, 255);
    background-color: black;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    box-sizing: border-box;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 42px;
}

.banner-information {
    display: flex;
    gap: 287px;
}

.banner-information img {
    margin-top: -85px;
    width: 349px;
    height: 580px;
}

/* Change Habit Section Style */

.change-habit {
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.habit-heading {
    color: rgb(255, 255, 255);
    font-size: 48px;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: center;
    margin: 0px;
}

.habit-description {
    width: 671px;
    height: 48px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align: center;
}

.habit-type-container {
    width: 231px;
    height: 274px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.habit-type-container h4 {
    margin-bottom: 0px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
}

.habit-type-container p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.3px;
    text-align: center;
}

.habit-goal {
    justify-content: space-evenly;
    margin-left: 85px;
    margin-right: 85px;
    margin-top: 50px;
}

.habit-img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    justify-content: center;
}

/* RUnning extra mile section style */

.running-motivation {
    display: flex;
    justify-content: space-between;
    width: 1060px;
    height: 371px;
    margin: 100px auto;
    border-radius: 18px;
    background: rgb(34, 34, 34);

}

.running-motivation-text {
    width: 443px;
    height: 290px;
    margin-top: 41px;
    margin-left: 54px;
    margin-bottom: 40px;
}

.running-motivation-text p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align: left;
}

.running-motivation-text h1 {
    color: rgb(255, 255, 255);
    font-size: 48px;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
    margin: 0px;
}

.running-image-container img {
    width: 366px;
    height: 312px;
    border-radius: 18px;
    margin-top: 30px;
    margin-right: 32px;
    margin-bottom: 29px;
}

.running-motivation-btn {
    margin-top: 34px;
}

/* BMI Section Style */

.bmi-text-container {
    text-align: center;
    width: 688px;
    height: 119px;
    margin: 80px auto;
    text-align: left;
}

.bmi-heading {
    font-size: 48px;
    font-weight: 900;
    margin: 0px;
}

.bmi-description {
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.50);
}

.bmi-container {
    border: 1px solid #ccc;
    display: flex;
    justify-content: space-around;
    width: 1500px;
    height: 487px;
    background-color: rgb(34, 34, 34);
}

.bmi-chart h3 {
    color: rgb(255, 255, 255);
    font-size: 28px;
    font-weight: 900;
    text-align: left;
    margin-top: 52px;
    margin-bottom: 52px;
    margin-left: 187px;
}

.bmi-chart table {
    border: 1px solid red;
    width: 310px;
    height: 216px;
    border-collapse: collapse;
    margin-left: 187px;
}

.bmi-chart tr,
th,
td {
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 8px 12px;
    text-align: left;
}

.bmi-calculator form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.bmi-calculator form input,
.sex-selection {
    width: 282.5px;
    height: 48px;
    padding: 12px 40px 12px 20px;
    border: none;
    border-radius: 8px;
    margin: 0px 12px;
    background: rgba(255, 255, 255, 0.1);

}

.activity-selector {
    width: 577px;
    height: 48px;
    padding: 12px 20px 12px 20px;
    border: none;
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    font-weight: 400;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    appearance: none;
}

/* Team member container */

.team-text-container {
    text-align: center;
}

.team-heading {
    color: rgb(255, 255, 255);
    font-size: 48px;
    font-weight: 900;
    margin-top: 88px;
    margin-bottom: 14px;
}

.team-description {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 58px;

}

.team-member-container {
    width: 1020px;
    height: 570px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    margin: 0px auto;
    gap: 20px;
}

.team-member {
    background-repeat: no-repeat;
    width: 326px;
    height: 272px;
    background-size: cover;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    margin: 0px auto;
}

.team-member h5 {
    margin-bottom: 0px;
    margin-left: 20px;
    font-size: 20px;
}

.team-member p {
    margin-bottom: 20px;
    margin-left: 20px;
    margin-top: 4px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
}

/* Footer Section Style */
.footer-section {
    width: 1500px;
    height: 480px;
    background: rgba(255, 255, 255, 0.1);
}

.footer-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 66px;
    padding-top: 66px;
}

.brand-2 {
    color: rgb(230, 83, 60);
    font-size: 70px;
    font-weight: 800;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 20px;
}

.brand-description {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align: left;
}

.fitness-footer {
    width: 443px;
    height: 176px;
    
}

.get-started {
    width: 181px;
    height: 249px;
}

.get-started-heading {
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 700;
    text-align: left;
    margin-top: 0px;
}

.get-started p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 23px;
    font-weight: 400;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 0px;
}

hr {
    margin-top: 50px;
    margin-bottom: 36px;
    margin-left: 168px;
    margin-right: 170px;
    border: 2px solid rgba(255, 255, 255, 0.1);
}

.copy-right {
    color: rgba(255, 255, 255, 0.5);
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}