@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.cdnfonts.com/css/miama');

:root {
    --primary-font: "Inter", sans-serif;
    --secondary-font:'Miama', sans-serif;
}

.display-flex {
    display: flex;
}

body {
    background-color: black;
    color: white;
    font-family: var(--primary-font);
}

.banner-container {
    width: 93.75rem;
    height: 44.68rem;
    background: linear-gradient(180.00deg, rgb(17, 17, 17), rgba(119, 119, 119, 0) 100%);
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3.56rem 10.87rem;
}

.brand {
    color: rgb(230, 83, 60);
    font-size: 2.25rem;
    font-weight: 800;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
    font-style: italic;
}

#home {
    width: 6.375rem;
    height: 2.375rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1.25rem 0.5rem 1.25rem;
    background: rgb(230, 83, 60);
    border-radius: 2.875rem;
    box-sizing: border-box;
}

#others {
    display: flex;
    gap: 3.5625rem;
}

.nav-links {
    width: 29.0625rem;
    height: 2.875rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3.4375rem;
    padding: 0.25rem;
    margin: 0.0rem 0.625rem;
    box-sizing: border-box;
    border: 0.0625rem solid rgba(255, 255, 255, 0.1);
    border-radius: 2.4375rem;
    box-sizing: border-box;
}

/* Banner Style */
#shape {
    color: rgb(255, 255, 255);
    font-family: var(--secondary-font);
    font-size: 7.875rem;
    font-weight: 300;
    line-height: 10%;
    text-align: left;
    margin: 0.0rem;
}

.banner-text-container {
    width: 32.5rem;
    height: 27.4375rem;
    margin-left: 10.875rem;
}

.banner-heading {
    color: rgb(255, 255, 255);
    font-family: var(--primary-font);
    font-size: 4.875rem;
    font-weight: 900;
    line-height: 1.2;
    text-align: left;
    margin: 0.0rem;
}

.banner-description {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 1.0rem;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0.03125rem;
    text-align: left;
    margin-top: 1.5rem;
}

.btn-container {
    margin-top: 1.75rem;
}

.btn-primary {
    width: 14.0rem;
    height: 3.375rem;
    justify-content: center;
    align-items: flex-start;
    padding: 1.0rem 2.5rem 1.0rem 2.5rem;
    border-radius: 2.625rem;
    background: rgb(230, 83, 60);
    color: rgb(255, 255, 255);
    font-family: var(--primary-font);
    font-size: 1.125rem;
    font-weight: 600;
    text-align: center;
    border: none;
}

.btn-adjustment {
    width: 14.0rem;
    height: 3.375rem;
    justify-content: center;
    align-items: flex-start;
    padding: 1.0rem 2.5rem 1.0rem 2.5rem;
    border-radius: 2.625rem;
    background: rgb(230, 83, 60);
    color: rgb(255, 255, 255);
    font-family: var(--primary-font);
    font-size: 1.125rem;
    font-weight: 600;
    text-align: center;
    border: none;
}

.btn-secondary {
    width: 14.0rem;
    height: 3.375rem;
    justify-content: center;
    align-items: flex-start;
    padding: 1.0rem 2.5rem 1.0rem 2.5rem;
    margin: 0.0rem 0.875rem;
    color: rgb(255, 255, 255);
    background-color: black;
    font-family: var(--primary-font);
    font-size: 1.125rem;
    font-weight: 600;
    text-align: center;
    box-sizing: border-box;
    border: 0.125rem solid rgb(255, 255, 255);
    border-radius: 2.625rem;
}

.banner-information {
    display: flex;
    gap: 17.9375rem;
}

.banner-information img {
    margin-top: -5.3125rem;
    width: 21.8125rem;
    height: 36.25rem;
}

.tutorial-btn {
    width: 12.875rem;
    height: 6rem;
    display: flex;
    padding: 1.25rem;
    gap: 15px;
    color: rgba(239, 237, 232, 0.65);
    font-family: var(--primary-font);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: left;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    justify-content: center;
    align-items: center;
    position: relative;
    left: -6.875rem;
    top: -10rem;

}

.play {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: rgb(230, 83, 60);
}

.btn-text {
    text-align: left;
}

.tutorial {
    color: rgb(250, 250, 249);
    font-family: var(--primary-font);
    font-size: 24px;
    font-weight: 900;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align: left;
}

.workout-btn {
    width: 12.0625rem;
    height: 6.125rem;
    padding: 1.25rem;
    text-align: left;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.65);
    font-family: var(--primary-font);
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 1px;
    text-align: left;
    position: relative;
    left: 13.125rem;
    top: -35rem;
}

.videos {
    color: rgb(250, 250, 249);
    font-family: var(--primary-font);
    font-size: 40px;
    font-weight: 900;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align: left;
}

/* Change Habit Section Style */

.change-habit {
    justify-content: center;
    align-items: center;
    margin-top: 6.25rem;
}

.habit-heading {
    color: rgb(255, 255, 255);
    font-size: 3.0rem;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: center;
    margin: 0.0rem;
}

.habit-description {
    width: 41.9375rem;
    height: 3.0rem;
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0.01875rem;
    text-align: center;
}

.habit-type-container {
    width: 14.4375rem;
    height: 17.125rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.habit-type-container h4 {
    margin-bottom: 0.0rem;
    color: rgb(255, 255, 255);
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
}

.habit-type-container p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.125rem;
    letter-spacing: 0.01875rem;
    text-align: center;
}

.habit-goal {
    justify-content: space-evenly;
    margin-left: 5.3125rem;
    margin-right: 5.3125rem;
    margin-top: 3.125rem;
}

.habit-img {
    width: 11.25rem;
    height: 11.25rem;
    border-radius: 50%;
    justify-content: center;
}

/* RUnning extra mile section style */

.running-motivation {
    display: flex;
    justify-content: space-between;
    width: 66.25rem;
    height: 23.1875rem;
    margin: 6.25rem auto;
    border-radius: 1.125rem;
    background: rgb(34, 34, 34);

}

.running-motivation-text {
    width: 27.6875rem;
    height: 18.125rem;
    margin-top: 2.5625rem;
    margin-left: 3.375rem;
    margin-bottom: 2.5rem;
}

.running-motivation-text p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0.01875rem;
    text-align: left;
}

.running-motivation-text h1 {
    color: rgb(255, 255, 255);
    font-size: 3.0rem;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
    margin: 0.0rem;
}

.running-image-container img {
    width: 22.875rem;
    height: 19.5rem;
    border-radius: 1.125rem;
    margin-top: 1.875rem;
    margin-right: 2.0rem;
    margin-bottom: 1.8125rem;
}

.running-motivation-btn {
    margin-top: 2.125rem;
}

/* BMI Section Style */

.bmi-text-container {
    text-align: center;
    width: 43.0rem;
    height: 7.4375rem;
    margin: 5.0rem auto;
    text-align: left;
}

.bmi-heading {
    font-size: 3.0rem;
    font-weight: 900;
    margin: 0.0rem;
}

.bmi-description {
    font-size: 1.0rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.50);
}

.bmi-container {
    display: flex;
    justify-content: space-evenly;
    width: 93.75rem;
    height: 30.4375rem;
    background-color: rgb(34, 34, 34);
}

.bmi-chart h3 {
    color: rgb(255, 255, 255);
    font-size: 1.75rem;
    font-weight: 900;
    text-align: left;
    margin-top: 3.25rem;
    margin-bottom: 3.25rem;
}

.bmi-chart table {
    border: 0.0625rem solid red;
    width: 19.375rem;
    height: 13.5rem;
    border-collapse: collapse;
}

td {
    color: rgba(255, 255, 255, 0.5);
}

.bmi-chart tr,
th,
td {
    border: 0.0625rem solid rgba(255, 255, 255, 0.1);
    padding: 0.5rem 0.75rem;
    text-align: left;
}

.form-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.75rem;
    margin-bottom: 2.125rem;
}

.bmi-calculator h1 {
    color: rgb(255, 255, 255);
    font-size: 1.75rem;
    font-weight: 900;
    text-align: left;
    margin-top: 3.0625rem;
}

.bmi-calculator p {
    width: 36.0625rem;
    height: 3.0rem;
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0.01875rem;
    text-align: left;
    margin-bottom: 2.125rem;
}

.activity-selector {
    width: 36.0625rem;
    height: 3.0rem;
    border: none;
    color: rgba(255, 255, 255, 0.6);
    font-family: var(--primary-font);
    font-size: 1.0rem;
    font-weight: 400;
    border-radius: 0.5rem;
    background: rgba(255, 255, 255, 0.1);
    text-align: left;
    padding: 0.75rem 1.25rem 0.75rem 1.25rem;
    border-right: 0.75rem solid transparent;
    grid-column: span 2;
}

::placeholder {
    color: rgba(255, 255, 255, 0.6);
    font-family: var(--primary-font);
}

input[type="text"] {
    font-family: var(--primary-font);
}

.sex-selection,
.input-form {
    border: none;
    color: rgba(255, 255, 255, 0.6);
    font-size: 1.0rem;
    font-weight: 400;
    border-radius: 0.5rem;
    font-family: var(--primary-font);
    background: rgba(255, 255, 255, 0.1);
    text-align: left;
    padding: 0.75rem 1.25rem 0.75rem 1.25rem;
    border-right: 0.75rem solid transparent;
}

/* Team member container */

.team-text-container {
    text-align: center;
}

.team-heading {
    color: rgb(255, 255, 255);
    font-size: 3.0rem;
    font-weight: 900;
    margin-top: 5.5rem;
    margin-bottom: 0.875rem;
}

.team-description {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.875rem;
    font-weight: 400;
    margin-bottom: 3.625rem;

}

.team-member-container {
    width: 63.75rem;
    height: 35.625rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-radius: 1.125rem;
    background: rgba(255, 255, 255, 0.1);
    padding: 1.25rem;
    margin: 0.0rem auto;
    gap: 1.25rem;
}

.team-member {
    background-repeat: no-repeat;
    width: 20.375rem;
    height: 17.0rem;
    background-size: cover;
    border-radius: 1.125rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    margin: 0.0rem auto;
}

.team-member h5 {
    margin-bottom: 0.0rem;
    margin-left: 1.25rem;
    font-size: 1.25rem;
}

.team-member p {
    margin-bottom: 1.25rem;
    margin-left: 1.25rem;
    margin-top: 0.25rem;
    font-size: 0.875rem;
    color: rgba(255, 255, 255, 0.5);
}

/* Footer Section Style */
.footer-section {
    width: 93.75rem;
    height: 30.0rem;
    background: rgba(255, 255, 255, 0.1);
}

.footer-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 4.125rem;
    padding-top: 4.125rem;
}

.brand-2 {
    color: rgb(230, 83, 60);
    font-size: 4.375rem;
    font-weight: 800;
    text-align: left;
    margin-top: 0.0rem;
    margin-bottom: 1.25rem;
    font-style: italic;
}

.brand-description {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0.01875rem;
    text-align: left;
}

.fitness-footer {
    width: 27.6875rem;
    height: 11.0rem;
}

.get-started {
    width: 11.3125rem;
    height: 15.5625rem;
}

.get-started-heading {
    color: rgb(255, 255, 255);
    font-size: 2.0rem;
    font-weight: 700;
    text-align: left;
    margin-top: 0.0rem;
}

.get-started p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.4375rem;
    font-weight: 400;
    text-align: left;
    margin-top: 0.625rem;
    margin-bottom: 0.0rem;
}

hr {
    margin-top: 3.125rem;
    margin-bottom: 2.25rem;
    margin-left: 10.5rem;
    margin-right: 10.625rem;
    border: 0.125rem solid rgba(255, 255, 255, 0.1);
}

.copy-right {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.25rem;
    font-weight: 400;
    text-align: center;
}